* {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

p {line-height: 1.7}

.font_space {letter-spacing: 0.05em}

ol {
    padding: 10px 10px 10px 30px;
    border: 2px skyblue dashed;
    background: #f3fbff;
    list-style-type: none;
}
ol li {
    color: #43acff;
    padding-left: 30px;
}



.header {
    margin: 10px 0 10px 10px;
    width: auto;
    height: 50px;
    background: #f3fbff;
}


.id{
    display: inline-block;
    vertical-align: center;
}
.fr{
    float: right;
    padding-right: 40px;
}
.fl{
    float: left;
}
.fc{
    float: both;
}
















.mt_s {
    margin-top: 5px;
}
.mt_m {
    margin-top: 10px;
}
.mt_l {
    margin-top: 15px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb30 {
  margin-bottom: 30px;
}
.space_m {
    margin: 5px 10px 0 10px;
}
.space_s {
    margin: 5px 5px 0 5px;
}
.space_l {
    margin: 10px 10px 0 10px;
}
.space_ll {
    margin: 10px 20px 0 20px;
}
.space_lr {
    margin: 0px 10px 0 10px;
}

.tal {
    text-align: left;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}

.mla {
    width:200px;
    margin-left: auto;
}


.colw {
    color: #fff !important;
}
.colp {
    color: #570635 !important;
}
.colr {
    color: #f00 !important;
}
.colyg {
    color: #8dff5a !important;
}
.colb {
    color: #00f !important;
}
.colg {
    color: #afafaf !important;
}
.coly {
    color: #fff117 !important;
}
.colm {
    color: #ff00c6 !important;
}

.form {
    border:#ff0000 solid 1px;
}

.help-block {
    color: #f00 !important;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}


.title {
    font-size: 84px;
}
.sub_title {
    font-size: 42px;
}
.subsub_title {
    font-size: 32px;
}


.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}




#contentbox, #borderbox {
  /*以下、親要素を見やすい設定に*/
  background: silver;
  padding: 10px 0;
}

#contentbox p {
  box-sizing: content-box;
}

#borderbox p {
  box-sizing: border-box;
}

#contentbox p, #borderbox p{
/*どちらも同じ幅・余白設定に*/
  width: 90%;
  margin: 5%;
  padding: 10px;
  border: solid 5px black;
  background:orange;
}





